@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tarun Mitra<br />
    Senior Consulltant<br />
    <abbr title="Phone">P:</abbr>
    0402552599
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Tarun.Mitra@dws.com.au</a><br />
</address>